<div *ngIf="collectionPosts.length > 0" class="create-container">
  <div class="create-overlay"></div>
  <div class="create-contents">
    <div class="create-modal">
      <div class="create-header">
        <div>New Collection</div>
        <img src="/assets/images/close.svg" (click)="collectionCreateClose()">
      </div>
      <div class="collection-name">
        <input [(ngModel)]="collectionName" placeholder="Collection Name" type="text" />
      </div>
      <div class="collection-grid">
        <div *ngFor="let post of collectionPosts" (click)="post.add ? post.add = !post.add : post.add = true" class="collection-post">
          <div *ngIf="post.add" class="collection-post-selected">
            <img src="/assets/images/verified.svg">
          </div>
          <img-await [source]="post.instagular.thumb[0]" class="collection-image"></img-await>
        </div>
        <div infiniteScroll (intersect)="onIntersection()" [stop]="stopIntersect" class="h-px w-px"
          [class]="hideIntersect ? 'hidden' : 'block'"></div>
      </div>
      <div [class]="collectionName.length > 0 ? 'cursor-pointer text-blue-500' : 'cursor-not-allowed text-gray-400'"
        (click)="collectionCreate()" class="create-button">Create
        <div *ngIf="!(collectionName.length > 0)" tooltip="Enter a name for the collection" theme="error" [offset]="[0, -10]"></div>
      </div>
    </div>
  </div>
</div>