.collection-grid {
  @apply gap-1 grid justify-center max-h-[400px] overflow-auto p-2 pb-0;
  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
}
:host ::ng-deep .collection-image img {
  @apply h-full object-cover w-full;
}
.collection-name input {
  @apply bg-slate-50 font-light px-5 py-4 w-full;
}
.collection-name textarea:focus, input:focus{
  outline: none;
}
.collection-post {
  @apply cursor-pointer h-[120px] overflow-hidden relative w-[120px];
}
.collection-post-selected {
  @apply absolute bg-white bg-opacity-40 flex h-full items-end justify-end pointer-events-none w-full;
  transition: opacity 0.2s;
}
.collection-post-selected img {
  @apply h-[24px] m-1 w-[24px];
}

.create-button {
  @apply flex justify-center pb-4 pt-3 relative text-lg w-full;
  transition: background-color 0.2s;
}
.create-button.create {
  @apply hover:bg-blue-100 border-t-[1px] border-solid border-t-slate-200 hover:border-t-blue-200 cursor-pointer rounded-b-xl text-blue-500 !important;
}
.create-button.disable {
  @apply cursor-not-allowed text-gray-400;
}
.create-button div {
  @apply absolute h-full top-0 w-full;
}
.create-header {
  @apply flex h-[70px] items-center justify-center relative;
}
.create-header div {
  @apply cursor-default font-light text-xl;
}
.create-header img {
  @apply absolute cursor-pointer mr-6 right-0 w-4;
}
