<modal *ngIf="collectionPosts.length > 0 || fromPost.length > 0" [divide]="true">
  <div class="create-header">
    <div>New Collection</div>
    <img src="/assets/images/close.svg" (click)="collectionCreateClose()">
  </div>
  <div class="collection-name">
    <input [(ngModel)]="collectionName" placeholder="Collection Name" type="text" />
  </div>
  <div *ngIf="!(fromPost.length > 0)" class="collection-grid">
    <div *ngFor="let post of collectionPosts" (click)="post.add ? post.add = !post.add : post.add = true" class="collection-post">
      <div [class]="post.add ? 'opacity-100' : 'opacity-0'" class="collection-post-selected">
        <img src="/assets/images/verified.svg">
      </div>
      <img-await [source]="post.instagular.thumb[0]" class="collection-image"></img-await>
    </div>
    <div infiniteScroll (intersect)="onIntersection()" [stop]="stopIntersect" class="h-px w-px"
      [class]="hideIntersect ? 'hidden' : 'block'"></div>
  </div>
  <div [class]="{ 'mt-2': !(fromPost.length > 0), 'create': collectionName.length > 0, 'disable': !(collectionName.length > 0) }"
    (click)="collectionCreate()" class="create-button">Create
    <div *ngIf="!(collectionName.length > 0)" tooltip="Enter a name for the collection" tooltipTheme="error" [tooltipOffset]="[0, -10]"></div>
  </div>
</modal>