<modal *ngIf="collectionPosts.length > 0 || fromPost.length > 0" [divide]="true">
  <div class="create-header">
    <div>{{ 'MEDIA_SAVED.COLLECTION.NEW' | translate }}</div>
    <img src="/assets/images/close.svg" (click)="collectionCreateClose()">
  </div>
  <div class="collection-name">
    <input [(ngModel)]="collectionName" [placeholder]="'MEDIA_SAVED.COLLECTION.NAME' | translate" type="text" />
  </div>
  <div *ngIf="!(fromPost.length > 0)" class="collection-grid">
    <div *ngFor="let post of collectionPosts" (click)="post.add ? post.add = !post.add : post.add = true" class="collection-post">
      <div [class]="post.add ? 'opacity-100' : 'opacity-0'" class="collection-post-selected">
        <img src="/assets/images/verified.svg">
      </div>
      <img-await [source]="post.instagular.thumb[0]" class="collection-image"></img-await>
    </div>
    <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
      [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  </div>
  <div (click)="collectionCreate()" class="create-button" [class]="{ 'mt-2': !(fromPost.length > 0),
    'create': collectionName.length > 0, 'disable': !(collectionName.length > 0) }">{{ 'GENERAL.CREATE' | translate }}
    <div *ngIf="!(collectionName.length > 0)" [tooltip]="'MEDIA_SAVED.COLLECTION.ERROR' | translate"
      tooltipTheme="error" [tooltipOffset]="[0, -10]"></div>
  </div>
</modal>