<div *ngIf="expandedSidenav" class="sidenav-container">
  <div routerLink="/" class="sidenav-logo mr-4">
    <img src="/assets/images/logo-full.svg">
  </div>
  <search></search>
  <div class="sidenav-buttons">
    <div>
      <button routerLink="/" [class]="router.url == '/' ? 'bg-slate-200' : ''">
        <img [src]="'/assets/images/' + (router.url == '/' ? 'feed-fill.svg' : 'feed.svg')">
        <p>Feed</p>
      </button>
      <button>
        <img [src]="'/assets/images/explore.svg'">
        <p>Explore</p>
      </button>
      <button>
        <img [src]="'/assets/images/direct.svg'">
        <p>Direct</p>
      </button>
      <button>
        <img [src]="'/assets/images/activity.svg'">
        <p>Activity</p>
      </button>
      <button>
        <img [src]="'/assets/images/settings.svg'">
        <p>Settings</p>
      </button>
    </div>
  </div>
  <div #userTarget *ngIf="userProfile" class="sidenav-user -ml-1">
    <img-await [dropdown]="userOptions" [target]="userTarget" place="top-start" [offset]="[0, 14]"
      [source]="userProfile.hd_profile_pic_url_info.url" class="sidenav-image"></img-await>
    <div class="sidenav-header">
      <div class="text-main text-lg">{{ userProfile.full_name ? userProfile.full_name : userProfile.username }}</div>
      <div class="text-sub">@{{ userProfile.username }}</div>
    </div>
  </div>
</div>
<div *ngIf="!expandedSidenav" class="sidenav-container-s">
  <div routerLink="/" class="sidenav-logo">
    <img src="/assets/images/icon.svg">
  </div>
  <div class="sidenav-buttons-s">
    <div>
      <button routerLink="/" [class]="router.url == '/' ? 'bg-slate-200' : ''">
        <img [src]="'/assets/images/' + (router.url == '/' ? 'feed-fill.svg' : 'feed.svg')">
      </button>
      <button>
        <img [src]="'/assets/images/explore.svg'">
      </button>
      <button>
        <img [src]="'/assets/images/direct.svg'">
      </button>
      <button>
        <img [src]="'/assets/images/activity.svg'">
      </button>
      <button>
        <img [src]="'/assets/images/settings.svg'">
      </button>
    </div>
  </div>
  <div *ngIf="userProfile" [dropdown]="userOptions" place="top-start" [offset]="[20, 14]" class="sidenav-user">
    <img-await [source]="userProfile.hd_profile_pic_url_info.url" class="sidenav-image"></img-await>
  </div>
</div>
<div (click)="expandSidenav()" class="sidenav-expand" [class]="expandedSidenav ? 'mr-3' : '-mr-10'">
  <img [src]="'/assets/images/' + (expandedSidenav ? 'chevron-left.svg' : 'chevron-right.svg')">
</div>
<div #userOptions>
  <div *ngIf="userProfile" [class]="expandedSidenav ? 'w-[240px]' : 'w-[150px]'" class="sidenav-options">
    <span [routerLink]="['/' + userProfile.username]">
      <img src="/assets/images/profile.svg">
      <p>Profile</p>
    </span>
    <span [routerLink]="['/' + userProfile.username + '/saved']">
      <img src="/assets/images/save.svg">
      <p>Saved</p>
    </span>
    <div class="sidenav-separate">
      <div></div>
    </div>
    <span (click)="logoutUser()">
      <img src="/assets/images/logout.svg">
      <p>Log Out</p>
    </span>
  </div>
</div>