<img *ngIf="post.timeline_pinned_user_ids" src="/assets/images/card-pinned.svg" class="post-pinned">
<img *ngIf="post.media_type == 8" src="/assets/images/card-carousel.svg" class="post-type">
<img *ngIf="(post.media_type == 2) && (post.product_type != 'clips')" src="/assets/images/card-play.svg" class="post-type">
<img *ngIf="(post.media_type == 2) && (post.product_type == 'clips')" src="/assets/images/card-reels.svg" class="post-type">
<div class="post-container">
  <div *ngIf="!hideHeader" [routerLink]="['/' + post.user.username]" class="post-header">
    <img-await [source]="post.user.profile_pic_url" class="post-profile"></img-await>
    <p>{{ post.user.username }}</p>
    <img *ngIf="post.user.is_verified" src="/assets/images/verified.svg">
  </div>
  <div class="post-footer">
    <div class="post-stats">
      <div *ngIf="!post.like_and_view_counts_disabled">
        <img src="/assets/images/activity-fill-lite.svg">
        <p>{{ post.like_count | shortNumber }}</p>
      </div>
      <div *ngIf="!post.comments_disabled">
        <img src="/assets/images/comment-fill-lite.svg">
        <p>{{ post.comment_count | shortNumber }}</p>
      </div>
    </div>
    <img [src]="'/assets/images/' + (post.has_liked ? 'like-fill.svg' : 'like-lite.svg')"
      (click)="post.has_liked ? unlikeMedia(post) : likeMedia(post)" class="pointer-events-auto">
  </div>
  <div (click)="onOpen.emit()" class="post-gradient"></div>
</div>
<img-await [source]="post.instagular.thumb[0]" class="post-image"></img-await>