.collection-back {
  @apply hover:bg-slate-200 cursor-pointer flex font-light justify-center p-2 text-lg text-slate-800 w-full;
  transition: background-color 0.2s;
}
.collection-container {
  @apply absolute cursor-pointer h-full hover:opacity-100 opacity-0 w-full;
  transition: opacity 0.2s;
}
.collection-create {
  @apply hover:bg-slate-200 cursor-pointer flex justify-center p-2 text-lg text-blue-500 w-full;
  transition: background-color 0.2s;
}
.collection-footer {
  @apply absolute bottom-0 flex items-end justify-between p-3 pointer-events-none w-full z-10;
}
.collection-footer img {
  @apply h-6 w-6;
  filter: drop-shadow(0px 2px 0px black);
}
.collection-header {
  @apply absolute flex justify-end p-3 pointer-events-none w-full z-[1];
}
.collection-footer p,
.collection-header p {
  @apply font-semibold mr-1 text-lg text-white;
  filter: drop-shadow(1px 1px 1px black);
}
.collection-gradient {
  @apply absolute h-full w-full;
  background: linear-gradient(to bottom, rgba(51, 65, 85, 0.5) -0%, rgba(51, 65, 85, 0.2) 20%, transparent 40% 60%, rgba(51, 65, 85, 0.2) 80%, rgba(51, 65, 85, 0.5) 100%);
  filter: brightness(0.5);
}
.collection-grid {
  @apply gap-0.5 grid h-full w-full;
}
:host ::ng-deep .collection-image img {
  @apply h-full object-cover w-full;
}

.empty-container {
  @apply cursor-default flex flex-col h-full items-center justify-center mt-12 w-full;
}
.empty-container img {
  @apply mb-6 w-16;
}

.feed-container {
  @apply ml-auto mr-auto mt-6;
}
.feed-grid {
  @apply gap-6 grid justify-center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
}
.feed-collection {
  @apply h-[280px] ml-auto mr-auto overflow-hidden relative rounded-lg w-[280px];
}

.text-main {
  @apply text-slate-800;
}
.text-sub {
  @apply font-light text-slate-600;
}