<create-collection *ngIf="collectionCreate" (onCreate)="collectionsUpdate()" (onClose)="collectionCreateOpen()"></create-collection>
<div *ngIf="!(feedCollection.length > 0)" class="mt-6 px-5">
  <div (click)="collectionCreateOpen()" class="collection-create">+&emsp;NEW COLLECTION</div>
</div>
<edit-collection *ngIf="collectionEdit" (onEdit)="collectionUpdate()" (onClose)="collectionEditOpen()"
  [collection]="selectedCollection" [collectionSelected]="feedCollection"></edit-collection>
<div *ngIf="feedCollection.length > 0" class="flex mt-6 px-5 space-x-5">
  <div (click)="closeCollection()" class="collection-back">&lt;&lt;&emsp;GO BACK TO COLLETIONS</div>
  <div (click)="collectionEditOpen()" class="collection-create">EDIT COLLETION</div>
</div>
<media-feed *ngIf="feedCollection.length > 0" [feedPosts]="feedCollection" [feedStorage]="'collection'"
  (onScroll)="openCollection(selectedCollection.collection_id)" (onReturn)="closeCollection()"></media-feed>
<div *ngIf="feedCollections" [hidden]="feedCollection.length > 0" class="feed-container">
  <div class="feed-grid">
    <div *ngFor="let collection of feedCollections" class="feed-collection">
      <div class="collection-header">
        <p>{{ collection.collection_media_count | shortNumber }}</p>
      </div>
      <div class="collection-container">
        <div class="collection-footer">
          <p>{{ collection.collection_name }}</p>
        </div>
        <div (click)="openCollection(collection)" class="collection-gradient"></div>
      </div>
      <div *ngIf="collection.cover_media_list" class="collection-grid"
        [class]="collection.cover_media_list[2] ? 'grid-cols-2 grid-rows-2' : collection.cover_media_list[1] ? 'grid-cols-2' : ''">
        <img-await [source]="collection.cover_media_list[0].image_versions2.candidates[1].url"
          *ngIf="collection.cover_media_list[0]" class="collection-image"></img-await>
        <img-await [source]="collection.cover_media_list[1].image_versions2.candidates[1].url"
          *ngIf="collection.cover_media_list[1]" class="collection-image"></img-await>
        <img-await [source]="collection.cover_media_list[2].image_versions2.candidates[1].url" class="collection-image"
          *ngIf="collection.cover_media_list[2]" [class]="collection.cover_media_list[3] ? '' : 'col-span-2'"></img-await>
        <img-await [source]="collection.cover_media_list[3].image_versions2.candidates[1].url"
          *ngIf="collection.cover_media_list[3]" class="collection-image"></img-await>
      </div>
    </div>
  </div>
  <div infiniteScroll (intersect)="onIntersection()" [stop]="stopIntersect" class="h-px w-px"
    [class]="hideIntersect ? 'hidden' : 'block'"></div>
</div>