<div *ngIf="loadedComments" [hidden]="!showComments">
  <div class="comments-container">
    <div class="comments-header">
      <img src="/assets/images/comment.svg" class="h-5 -ml-9 mr-4">
      <div>Comments ({{ feedPost.comment_count | shortNumber }})</div>
      <img (click)="openComments()" src="/assets/images/close.svg" class="close" />
    </div>
    <div class="comments-contents">
      <div *ngFor="let comment of feedComments; index as i" class="comments-replies">
        <post-comment [comment]="comment" [post]="feedPost.user.pk" (deleteSend)="deleteComment($event)" (replySend)="addReply($event)"></post-comment>
        <div *ngIf="comment.child_comment_count > 0" (click)="showReplies(i)" class="display">
          <div class="line"></div>
          <div class="text">{{ repliesComments[i] ? 'Hide' : 'View' }} replies ({{ comment.child_comment_count }})</div>
        </div>
        <div *ngIf="comment.child_comment_count > 0" [hidden]="!repliesComments[i]" class="comments">
          <div *ngIf="(comment.child_comment_count - comment.preview_child_comments.length) > 0 || (stateComments[i] && stateComments[i].moreAvailable)"
              (click)="loadReplies(i)" [class]="loadedReplies ? 'cursor-pointer' : 'cursor-not-allowed'" class="load">
            <div class="line"></div>
            <div class="text">Load more comments ({{ comment.child_comment_count - comment.preview_child_comments.length }})</div>
          </div>
          <div *ngFor="let reply of comment.preview_child_comments">
            <post-comment [comment]="reply" [post]="feedPost.user.pk" (deleteSend)="deleteComment($event)" (replySend)="addReply($event)"></post-comment>
          </div>
        </div>
      </div>
      <div infiniteScroll (intersect)="onIntersection()" [stop]="stopIntersect" class="h-px w-full"
        [class]="hideIntersect ? 'hidden' : 'block'"></div>
    </div>
    <div class="comments-send">
      <div *ngIf="commentReply.pk > 0" class="replybox">
        <p class="font-light text-slate-700">Reply to {{ commentReply.user }}</p>
        <img (click)="removeReply()" src="/assets/images/close.svg" class="cursor-pointer w-3" />
      </div>
      <input [(ngModel)]="textComment" placeholder="Add a comment..." type="text" (keydown.enter)="sendComment()" />
      <img tooltip="Post Comment" src="/assets/images/direct.svg" (click)="sendComment()" [class]="sendingComment ? 'cursor-not-allowed' : 'cursor-pointer'">
    </div>
  </div>
</div>