<modal *ngIf="collectionPosts.length > 0" [divide]="true">
  <div class="edit-header">
    <div>Edit Collection</div>
    <img src="/assets/images/close.svg" (click)="collectionEditClose()">
  </div>
  <div class="collection-name">
    <input [(ngModel)]="collection.collection_name" placeholder="Collection Name" type="text" />
  </div>
  <div class="collection-grid">
    <div *ngFor="let post of collectionPosts" (click)="post.add ? post.add = !post.add : post.add = true" class="collection-post">
      <div [class]="post.add ? 'opacity-100' : 'opacity-0'" class="collection-post-selected">
        <img src="/assets/images/verified.svg">
      </div>
      <img-await [source]="post.instagular.thumb[0]" class="collection-image"></img-await>
    </div>
    <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
      [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  </div>
  <div [class]="collection.collection_name.length > 0 ? 'edit' : 'cursor-not-allowed text-gray-400'"
    (click)="collectionEdit()" class="edit-button">Update
    <div *ngIf="!(collection.collection_name.length > 0)" tooltip="Enter a name for the collection" tooltipTheme="error" [tooltipOffset]="[0, -10]"></div>
  </div>
</modal>