.feed-container {
  @apply ml-auto mr-auto mt-6;
}
.feed-grid {
  @apply gap-6 grid justify-center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
}
.feed-post {
  @apply h-[280px] ml-auto mr-auto overflow-hidden relative rounded-lg w-[280px];
}

.post-container {
  @apply absolute cursor-pointer h-full hover:opacity-100 opacity-0 w-full;
  transition: opacity 0.2s;
}
.post-footer {
  @apply absolute bottom-0 flex items-end justify-between p-3 pointer-events-none w-full z-[1];
}
.post-header {
  @apply absolute flex justify-end p-3 pointer-events-none w-full z-[1];
}
.post-footer img,
.post-header img {
  @apply h-6 w-6;
  filter: drop-shadow(0px 2px 0px black);
}
.post-footer p,
.post-header p {
  @apply font-semibold text-lg text-white;
  filter: drop-shadow(1px 1px 1px black);
}
.post-gradient {
  @apply absolute h-full w-full;
  background: linear-gradient(to bottom, rgba(51, 65, 85, 0.5) -0%, rgba(51, 65, 85, 0.2) 20%, transparent 40% 60%, rgba(51, 65, 85, 0.2) 80%, rgba(51, 65, 85, 0.5) 100%);
  filter: brightness(0.5);
}
:host ::ng-deep .post-image img {
  @apply h-full object-cover w-full;
}
.post-stat {
  @apply flex items-center space-x-1;
}
.post-stats {
  @apply flex flex-col space-y-1;
}
.post-stats div {
  @apply flex items-center space-x-3;
}