<viewer-posts *ngIf="feedPost" [feedPost]="feedPost" [feedIndex]="feedIndex" (onClose)="feedPost = null"
  (onNextPost)="nextPost()" (onPrevPost)="prevPost()"></viewer-posts>
<div *ngIf="feedPosts" class="feed-container">
  <div class="feed-grid">
    <div *ngFor="let post of feedPosts" class="feed-post">
      <reels-post [post]="post" (onOpen)="openMedia(post)"></reels-post>
    </div>
  </div>
  <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
    [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  <media-footer *ngIf="feedPosts.length > 0 && stopIntersect"></media-footer>
</div>