<viewer-more *ngIf="moreOptions" (download)="downloadMedia()" (closeSend)="closeOptions()"></viewer-more>
<div class="viewer-container">
  <div class="viewer-overlay"></div>
  <div class="viewer-contents">
    <div class="viewer-sidenav">
      <div class="sidenav-user">
        <img src="/assets/images/more.svg" (click)="openOptions()" class="more-button">
        <img-await [source]="feedPost.instagular.profile" class="sidenav-image"></img-await>
        <div [routerLink]="['/' + feedPost.user.username]" class="sidenav-header">
          <div class="text-main">{{ feedPost.user.full_name }}</div>
          <div class="text-sub">@{{ feedPost.user.username }}</div>
        </div>
        <div *ngIf="feedPost.location" class="sidenav-location">{{ feedPost.location.name }}</div>
        <div class="sidenav-stats">
          <div class="text-sub">{{ feedPost.taken_at * 1000 | date }}</div>
          <div class="flex space-x-4">
            <div class="text-main">{{ feedPost.like_count }}</div>
            <img [src]="'/assets/images/' + (feedPost.has_liked ? 'like-fill.svg' : 'like.svg')"
              (click)="feedPost.has_liked ? unlikeSend.emit(feedPost.id) : likeSend.emit(feedPost.id)"
              class="cursor-pointer object-contain">
          </div>
        </div>
        <div *ngIf="feedPost.caption" [innerText]="feedPost.caption.text" class="text-main w-full"></div>
      </div>
    </div>
    <img-await class="viewer-image"
      [source]="feedPost.instagular.full.length > 0 ? feedPost.instagular.full[carouselIndex] : feedPost.instagular.thumb[carouselIndex]">
    </img-await>
    <div *ngIf="feedPost.instagular.full.length > 1 && carouselIndex > 0" (click)="carouselPrev()" class="prev-button">
      <img src="/assets/images/chevron-left.svg">
    </div>
    <div *ngIf="feedPost.instagular.full.length > 1 && carouselIndex < feedPost.instagular.full.length - 1"
      (click)="carouselNext()" class="next-button">
      <img src="/assets/images/chevron-right.svg">
    </div>
    <div (click)="closeSend.emit()" class="close-button">
      <img src="/assets/images/close.svg">
    </div>
    <div *ngIf="feedPost.instagular.full.length > 1" class="viewer-count">
      <div *ngFor="let media of feedPost.instagular.full; index as i">
        <div class="count-dot" [class]="i == carouselIndex ? 'bg-blue-500' : 'bg-slate-100'"></div>
      </div>
    </div>
  </div>
</div>