<div *ngIf="!selectModel && loadedSearch && store.state.recentSearches.length > 0" class="search-header">
  <div class="recent-text">{{ 'SEARCH.RECENT' | translate }}</div>
  <div (click)="onClearAll.emit()" class="recent-clear">{{ 'SEARCH.CLEAR_ALL' | translate }}</div>
</div>
<div *ngIf="queryResults.length > 0" [hidden]="!loadedSearch" class="search-modal">
  <div *ngFor="let user of queryResults" class="search-item">
    <div (click)="loadProfile(user)" class="contents space-x-4">
      <div [class]="user.latest_reel_media > 0 ? 'border-[#e16857]' : ''" class="search-picture">
        <img-await [source]="user.profile_pic_url" class="search-image"></img-await>
      </div>
      <div class="search-text">
        <div class="flex space-x-2">
          <div class="text-main">{{ user.full_name ? user.full_name : user.username }}</div>
          <img *ngIf="user.is_verified" src="/assets/images/verified.svg">
        </div>
        <div class="text-sub">@{{ user.username }}</div>
      </div>
    </div>
    <div class="search-icons">
      <img *ngIf="!selectModel" dropdownIgnore (click)="hideRecent(user.pk)" src="/assets/images/close.svg">
      <img *ngIf="user.friendship_status.following" src="/assets/images/profile-check.svg">
      <img *ngIf="!user.friendship_status.following && user.is_private" src="/assets/images/lock-bold.svg">
    </div>
  </div>
</div>
<div *ngIf="!selectModel && store.state.recentSearches.length == 0" class="search-none">{{ 'SEARCH.NO_RECENT' | translate }}</div>
<div *ngIf="selectModel && !loadedSearch" class="search-none">{{ 'SEARCH.SEARCHING' | translate }}</div>
<div *ngIf="selectModel && loadedSearch && queryFinished && queryResults.length == 0" class="search-none">{{ 'SEARCH.NO_RESULTS' | translate }}</div>