.search {
  @apply bg-slate-100 h-10 mt-6 mx-8 relative rounded-lg;
  transition: background-color 0.2s;
}
.search:focus-within,
.search:hover {
  @apply bg-slate-200;
}
.search:focus-within .search-clear,
.search:hover .search-clear {
  @apply opacity-100;
}
.search input {
  @apply absolute bg-transparent cursor-pointer h-full px-10 text-slate-600 w-full;
}
.search input::placeholder {
  @apply text-slate-400;
  transition: color 0.2s;
}
.search input:focus::placeholder,
.search input:hover::placeholder {
  @apply text-slate-500;
}
.search textarea:focus, input:focus{
  outline: none;
}
.search-clear {
  @apply cursor-pointer opacity-0 right-0 search-icon;
  transition: opacity 0.2s;
}
.search-icon {
  @apply absolute h-10 p-[11px];
}
.search-image {
  @apply min-w-[3rem] overflow-hidden rounded-full w-12;
}
.search-item {
  @apply hover:bg-slate-100 cursor-pointer flex items-center pl-2 py-2 space-x-4 w-full;
}
.search-modal {
  @apply overflow-x-hidden overflow-y-scroll w-[255px] whitespace-nowrap;
  max-height: calc(100vh - 18rem);
}
.search-none {
  @apply cursor-default py-2 text-center text-sub w-[255px];
}

.search-s {
  @apply flex flex-col items-center space-y-4 w-full;
}
.search-s input {
  @apply bg-slate-50 border-b border-b-slate-200 font-light pb-3 pl-10 pr-4 pt-2 w-full;
}
.search-s input::placeholder {
  @apply text-slate-400;
}
.search-s button {
  @apply hover:bg-slate-200 flex justify-center mt-4 py-3 rounded-lg w-[50px];
  transition: background-color 0.2s;
}
.search-s-bar {
  @apply flex items-center mb-2 relative;
}
.search-s-clear {
  @apply cursor-pointer right-0 search-s-icon;
}
.search-s-icon {
  @apply absolute h-10 pb-[14px] pt-2 px-[11px];
}

.text-main {
  @apply text-lg text-slate-800;
}
.text-sub {
  @apply font-light text-slate-600;
}