*:focus {
  outline: none;
}

.options-container {
  @apply absolute mt-12 overflow-hidden rounded-xl shadow w-full;
  max-height: calc(100vh - 18rem);
}
.options-item {
  @apply hover:bg-slate-100 cursor-pointer flex items-center pl-2 py-2 space-x-4 w-full;
}
.options-image {
  @apply overflow-hidden rounded-full w-12;
}
.options-modal {
  @apply bg-white overflow-x-hidden overflow-y-scroll py-2 w-full whitespace-nowrap;
  max-height: calc(100vh - 18rem);
}
.options-modal::-webkit-scrollbar-track-piece:start {
  margin-top: 10px;
}
.options-modal::-webkit-scrollbar-track-piece:end {
  margin-bottom: 10px;
}
.options-noresults {
  @apply bg-white overflow-hidden py-6 text-center text-sub w-full;
}
.options-text {
  @apply flex flex-col;
}

.text-main {
  @apply text-lg text-slate-800;
}
.text-sub {
  @apply font-light text-slate-600;
}

.search-bar {
  @apply bg-slate-200 h-10 mt-6 mx-8 relative rounded-lg;
}
.search-bar input {
  @apply absolute bg-transparent cursor-pointer h-full px-10 text-slate-600 w-full;
}
.search-icon {
  @apply absolute h-10 p-[11px];
}