<user-profile [userProfile]="userProfile"></user-profile>
<div *ngIf="userProfile">
  <div *ngIf="!userProfile.is_private || (userProfile.is_private && userProfile.friendship.following); then allow; else block"></div>
  <ng-template #allow>
    <media-stories [feedStories]="userStories"></media-stories>
    <user-feeds #userFeeds [userProfile]="userProfile"></user-feeds>
    <div *ngIf="!userProfile.media_count && userFeeds.feedSelect != 'saved'" class="error-noposts">
      <img src="/assets/images/camera.svg">
      <div class="text-main">No posts yet</div>
      <div class="text-sub">This user hasn't made any posts yet.</div>
    </div>
  </ng-template>
  <ng-template #block>
    <div class="error-private">
      <img src="/assets/images/lock.svg">
      <div class="text-main">This account is private</div>
      <div class="text-sub">Follow to see their photos and videos.</div>
    </div>
  </ng-template>
</div>
<div *ngIf="userNotFound" class="error-notfound">
  <img src="/assets/images/slash.svg">
  <div class="text-main">This page is not available</div>
  <div class="text-sub">The link you followed may be broken, or the page may have been removed.</div>
</div>