<div *ngIf="userProfile" class="user-container">
  <img-await [source]="userProfile.instagular.thumb" class="user-image"></img-await>
  <div>
    <div class="user-header">
      <div class="text-main text-[32px]">{{ userProfile.full_name }}</div>
      <img *ngIf="userProfile.is_verified" src="/assets/images/verified.svg">
    </div>
    <div class="user-stats">
      <div class="text-sub">@{{ userProfile.username }}</div>
      <div class="text-sub">•</div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.media_count }}</div>
        <div class="text-sub">Posts</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.follower_count }}</div>
        <div class="text-sub">Followers</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.following_count }}</div>
        <div class="text-sub">Following</div>
      </div>
    </div>
    <div [innerText]="userProfile.biography" class="my-5 text-main"></div>
    <div *ngIf="userProfile.external_url" class="user-link">
      <img src="/assets/images/link.svg">
      <a [href]="userProfile.external_url" target="_blank" rel="noopener noreferrer">
        {{ userProfile.external_url }}
      </a>
    </div>
  </div>
</div>
<div *ngIf="userProfile">
  <div *ngIf="!userProfile.is_private; then public; else private"></div>
  <ng-template #public>
    <media-feed [feedPosts]="userPosts" [hideHeader]="true"></media-feed>
  </ng-template>
  <ng-template #private>
    <div class="error-container mt-24">
      <img src="/assets/images/lock.svg">
      <div class="text-main">This account is private</div>
      <div class="text-sub">Follow to see their photos and videos.</div>
    </div>
  </ng-template>
</div>
<div *ngIf="userNotFound" class="error-container">
  <img src="/assets/images/slash.svg">
  <div class="text-main">This page is not available</div>
  <div class="text-sub">The link you followed may be broken, or the page may have been removed.</div>
</div>