<user-profile [userProfile]="userProfile"></user-profile>
<div *ngIf="userProfile">
  <div *ngIf="!userProfile.is_private || (userProfile.is_private && userProfile.friendship.following); then allow; else block"></div>
  <ng-template #allow>
    <media-stories [feedStories]="userStories"></media-stories>
    <user-feeds #userFeeds [userProfile]="userProfile"></user-feeds>
    <div *ngIf="!userProfile.media_count && userFeeds.feedSelect != 'saved'" class="error-noposts">
      <img src="/assets/images/camera.svg">
      <div class="text-main">{{ 'PAGE_USER.NO_POSTS.TITLE' | translate }}</div>
      <div class="text-sub">{{ 'PAGE_USER.NO_POSTS.SUB' | translate }}</div>
    </div>
  </ng-template>
  <ng-template #block>
    <div class="error-private">
      <img src="/assets/images/lock.svg">
      <div class="text-main">{{ 'PAGE_USER.PRIVATE.TITLE' | translate }}</div>
      <div class="text-sub">{{ 'PAGE_USER.PRIVATE.SUB' | translate }}</div>
    </div>
  </ng-template>
</div>
<div *ngIf="userNotFound" class="error-notfound">
  <img src="/assets/images/slash.svg">
  <div class="text-main">{{ 'PAGE_USER.NOT_FOUND.TITLE' | translate }}</div>
  <div class="text-sub">{{ 'PAGE_USER.NOT_FOUND.SUB' | translate }}</div>
</div>