<div class="post-header">
  <div class="post-stat">
    <p>{{ post.node.video_view_count | shortNumber }}</p>
    <img src="/assets/images/card-play.svg">
  </div>
</div>
<div class="post-container">
  <div class="post-footer">
    <div class="post-stats">
      <div>
        <img src="/assets/images/activity-fill-lite.svg">
        <p>{{ post.node.edge_liked_by.count | shortNumber }}</p>
      </div>
      <div *ngIf="!post.node.comments_disabled">
        <img src="/assets/images/comment-fill-lite.svg">
        <p>{{ post.node.edge_media_to_comment.count | shortNumber }}</p>
      </div>
    </div>
  </div>
  <div (click)="onOpen.emit()" class="post-gradient"></div>
</div>
<img-await [source]="post.node.thumbnail_src" class="post-image"></img-await>