<modal [divide]="true" width="600px">
  <div class="options-header">
    <div>{{ usersTitle }}</div>
    <img src="/assets/images/close.svg" (click)="onClose.emit()">
  </div>
  <div autoFocus tabindex="0" *ngIf="usersList.length > 0" class="options-body">
    <div *ngFor="let user of usersList; index as i" class="options-item">
      <div (click)="loadUserPage(user.username)" class="flex items-center w-full">
        <div class="options-image" [class]="user.latest_reel_media > 0 ? 'border-[#e16857]' : ''">
          <img-await [source]="user.profile_pic_url"></img-await>
        </div>
        <div class="options-text">
          <div class="flex space-x-2">
            <div class="text-main">{{ user.full_name ? user.full_name : user.username }}</div>
            <img *ngIf="user.is_verified" src="/assets/images/verified.svg">
          </div>
          <div class="text-sub">@{{ user.username }}</div>
        </div>
      </div>
      <div *ngIf="user.pk != store.state.userPk" class="options-icons">
        <img *ngIf="user.friendship.is_feed_favorite" src="/assets/images/star-favorite.svg">
        <img *ngIf="!user.friendship.following && user.is_private" src="/assets/images/lock-bold.svg" class="h-[18px]">
        <button [class]="user.friendship.following ? user.friendship.is_bestie ? 'bestie' : 'lite' : 'color'"
          (click)="user.friendship.following ? unfollowUser(i) : followUser(i)">
          {{ (user.friendship.following ? 'PAGE_USER.FOLLOWING' : userName == store.state.userName ? 'PAGE_USER.FOLLOW_BACK' : 'PAGE_USER.FOLLOW') | translate }}
        </button>
        <div *ngIf="userName == store.state.userName" class="options-more">
          <img [dropdown]="moreOptions" [dropdownOffset]="[0, 16]" dropdownPlace="bottom" src="/assets/images/more.svg">
          <div #moreOptions class="w-max">
            <span *ngIf="feedStorage == 'followers'" (click)="removeFollower = { user: user.username, i: i }">
              <img src="/assets/images/profile-cross.svg">
              <p>{{ 'PAGE_USER.FOLLOWER_REMOVE' | translate }}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
      [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  </div>
  <div *ngIf="usersList.length == 0" class="options-loading">{{ 'GENERAL.LOADING' | translate }}</div>
</modal>
<dialog *ngIf="feedStorage == 'followers' && removeFollower" [title]="'PAGE_USER.REMOVE_FOLLOWER.TITLE' | translate" [subtitle]="'PAGE_USER.REMOVE_FOLLOWER.SUB' | translate: { user: removeFollower.user }"
  [buttonText]="'GENERAL.REMOVE' | translate" buttonTheme="red" (onOk)="_removeFollower(removeFollower.i)" (onCancel)="removeFollower = null"></dialog>