.options-body {
  @apply divide-slate-200 divide-y-[1px] overflow-y-scroll rounded-b-3xl;
  max-height: calc(100vh - 200px);
}
.options-body:focus {
  outline: none;
}
.options-header {
  @apply flex h-[70px] items-center justify-center relative text-slate-800;
}
.options-header div {
  @apply cursor-default font-light text-xl;
}
.options-header img {
  @apply absolute cursor-pointer mr-6 right-0 w-4;
}
.options-item {
  @apply hover:bg-slate-200 cursor-pointer flex items-center pl-4 py-2 space-x-4 w-full;
  transition: background-color 0.2s;
}
.options-image {
  @apply overflow-hidden rounded-full w-12;
}
.options-text {
  @apply flex flex-col;
}

.text-main {
  @apply text-lg text-slate-800;
}
.text-sub {
  @apply font-light text-slate-600;
}
