<modal [divide]="true">
  <div class="options-header">
    <div>{{ usersTitle }}</div>
    <img src="/assets/images/close.svg" (click)="onClose.emit()">
  </div>
  <div autoFocus tabindex="0" *ngIf="usersList.length > 0" class="options-body">
    <div *ngFor="let user of usersList" (click)="loadUserPage(user.username)" class="options-item">
      <img-await [source]="user.profile_pic_url" class="options-image"></img-await>
      <div class="options-text">
        <div class="flex space-x-2">
          <div class="text-main">{{ user.full_name ? user.full_name : user.username }}</div>
          <img *ngIf="user.is_verified" src="/assets/images/verified.svg">
        </div>
        <div class="text-sub">@{{ user.username }}</div>
      </div>
    </div>
    <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
      [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  </div>
  <div *ngIf="usersList.length == 0" class="options-loading">{{ 'GENERAL.LOADING' | translate }}</div>
</modal>