<div class="login-container">
  <div class="login-card">
    <img src="/assets/images/logo.svg">
    <form [formGroup]="loginForm">
      <div class="space-y-4">
        <input formControlName="username" [placeholder]="'PAGE_LOGIN.USERNAME' | translate" type="text" />
        <input formControlName="password" [placeholder]="'PAGE_LOGIN.PASSWORD' | translate" type="password" />
      </div>
    </form>
    <div class="login-buttons">
      <button (click)="loginUser()">{{ 'PAGE_LOGIN.LOGIN' | translate }}</button>
    </div>
  </div>
</div>