<div autoFocus tabindex="0" class="viewer-container">
  <div class="viewer-overlay"></div>
  <div class="viewer-contents">
    <post-panel [hidden]="!expandedPanel" [feedPost]="feedPost" [feedIndex]="feedIndex" [carouselIndex]="carouselIndex"
      (onClose)="onClose.emit()" (onPin)="onPin.emit($event)" (onUnpin)="onUnpin.emit($event)" (onFollow)="onFollow.emit($event)"
      (onBesties)="onBesties.emit($event)" (onFavorite)="onFavorite.emit($event)" (onBlock)="onBlock.emit($event)"></post-panel>
    <div class="z-[2]">
      <div class="button-nav">
        <div *ngIf="feedPost.instagular.full.length > 1 && carouselIndex > 0" class="carousel">
          <img src="/assets/images/chevron-left.svg" (click)="carouselPrev()">
        </div>
        <img *ngIf="feedIndex.current > 0" (click)="postPrev()" src="/assets/images/chevron-d-left.svg">
      </div>
      <div [tooltip]="'VIEWER_POSTS.PANEL' | translate: { state: (expandedPanel ? 'VIEWER_POSTS.COLLAPSE' : 'VIEWER_POSTS.EXPAND') | translate }"
        tooltipPlace="right" tooltipTheme="lite" (click)="expandedPanel = !expandedPanel"
        class="button-expand" [class]="expandedPanel ? 'opacity-100' : 'opacity-90'">
        <div [class]="expandedPanel ? 'expanded' : 'collapsed'"></div>
      </div>
    </div>
    <div class="relative w-full">
      <img-await *ngIf="feedPost.instagular.media_type[carouselIndex] == 1" class="viewer-media"
        [source]="feedPost.instagular.full[carouselIndex]"></img-await>
      <div *ngIf="feedPost.instagular.media_type[carouselIndex] == 2 || feedPost.instagular.media_type[carouselIndex] == 3" class="viewer-media">
        <div *ngIf="feedPost.carousel_media_count">
          <div *ngIf="feedPost.carousel_media_count && feedPost.carousel_media[carouselIndex].video_duration < 60; then play; else block"></div>
        </div>
        <div *ngIf="!feedPost.carousel_media_count">
          <div *ngIf="!feedPost.carousel_media_count && feedPost.video_duration < 60; then play; else block"></div>
        </div>
        <ng-template #play>
          <video autoplay controls loop [muted]="true" [src]="feedPost.instagular.full[carouselIndex] | encode:true | async"
            [poster]="feedPost.instagular.thumb[carouselIndex] | encode | async"></video>
        </ng-template>
        <ng-template #block>
          <div class="viewer-text">
            <p>{{ 'VIEWER_POSTS.VIDEO_BLOCKED.TEXT' | translate }}</p>
            <button (click)="openMedia()">{{ 'VIEWER_POSTS.VIDEO_BLOCKED.BUTTON' | translate }}</button>
          </div>
          <img-await [source]="feedPost.instagular.thumb[0]" class="viewer-image"></img-await>
        </ng-template>
      </div>
      <div *ngIf="feedPost.instagular.full.length > 1" class="viewer-count">
        <div *ngFor="let media of feedPost.instagular.full; index as i">
          <div class="count-dot" [class]="i == carouselIndex ? 'bg-blue-500' : 'bg-slate-100'"></div>
        </div>
      </div>
    </div>
    <div class="button-nav right-0 w-[52px]">
      <div *ngIf="feedPost.instagular.full.length > 1 && carouselIndex < feedPost.instagular.full.length - 1" class="carousel">
        <img src="/assets/images/chevron-right.svg" (click)="carouselNext()">
      </div>
      <img *ngIf="feedIndex.current < feedIndex.total" (click)="postNext()" src="/assets/images/chevron-d-right.svg">
    </div>
    <div (click)="onClose.emit()" class="button-close">
      <img src="/assets/images/close.svg">
    </div>
  </div>
</div>