.button-close {
  @apply absolute bg-slate-100 cursor-pointer m-3 p-[0.45rem] right-0 rounded-full w-7 z-[1];
}
.button-expand {
  @apply absolute bg-slate-50 bottom-0 cursor-pointer flex h-16 items-center hover:opacity-100 px-2 z-[1];
  transition: opacity 0.2s;
}
.button-expand div {
  @apply border-r-[1px] border-r-slate-800 border-t-[1px] border-t-slate-800 h-[10px] w-[10px];
}
.button-expand div.collapsed {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  transform: rotate(45deg);
}
.button-expand div.expanded {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  transform: rotate(225deg);
}
.button-nav {
  @apply absolute flex flex-col justify-center h-full z-[1];
}
.button-nav img {
  @apply bg-slate-100 cursor-pointer m-3 p-1.5 rounded-full w-7;
}
.button-nav .carousel {
  @apply absolute -mt-24 !important;
}

.viewer-container {
  @apply fixed flex h-full items-center justify-center left-0 top-0 w-full z-10;
}
.viewer-contents {
  @apply absolute flex h-full w-full;
}
.viewer-count {
  @apply absolute bottom-0 flex justify-center mb-3 space-x-2 w-full;
}
.viewer-count .count-dot {
  @apply h-2 rounded-full w-2;
}
:host ::ng-deep .viewer-image img {
  @apply h-full object-cover w-full;
  filter: brightness(0.2);
}
.viewer-media {
  @apply h-full w-full;
}
.viewer-media > * {
  @apply contents;
}
.viewer-media video,
:host ::ng-deep .viewer-media img {
  @apply h-full object-contain w-full;
}
.viewer-overlay {
  @apply bg-black bg-opacity-90 h-full w-full;
}
.viewer-text {
  @apply absolute flex flex-col h-full items-center justify-center space-y-10 text-center text-slate-100 w-full z-[1];
}
.viewer-text p {
  @apply break-words max-w-[300px] pointer-events-none text-lg;
}
.viewer-text button {
  @apply border-[1px] border-slate-100 px-4 py-2 rounded-lg;
}