<viewer-more *ngIf="moreOptions" (download)="downloadMedia()" (closeSend)="closeOptions()"></viewer-more>
<div class="viewer-container">
  <div class="viewer-overlay"></div>
  <div class="viewer-contents">
    <div class="viewer-sidenav">
      <div class="sidenav-user">
        <img src="/assets/images/more.svg" (click)="openOptions()" class="more-button">
        <img-await [source]="feedPost.user.profile_pic_url" class="sidenav-image"></img-await>
        <div [routerLink]="['/' + feedPost.user.username]" class="sidenav-header">
          <div class="sidenav-name">
            <div class="text-main">{{ feedPost.user.full_name ? feedPost.user.full_name : feedPost.user.username }}
            </div>
            <img *ngIf="feedPost.user.is_verified" src="/assets/images/verified.svg">
          </div>
          <div class="text-sub">@{{ feedPost.user.username }}</div>
        </div>
        <div *ngIf="feedPost.location" class="sidenav-location">{{ feedPost.location.name }}</div>
        <div class="sidenav-stats">
          <div class="text-sub">{{ feedPost.taken_at * 1000 | date }}</div>
          <div class="flex space-x-4">
            <div class="text-main">{{ feedPost.like_count | shortNumber }}</div>
            <img [src]="'/assets/images/' + (feedPost.has_liked ? 'like-fill.svg' : 'like.svg')"
              (click)="feedPost.has_liked ? unlikeSend.emit(feedPost.id) : likeSend.emit(feedPost.id)"
              class="cursor-pointer object-contain">
          </div>
        </div>
        <div *ngIf="feedPost.caption" [innerHTML]="feedPost.caption.text | parseUrls " class="text-main w-full"></div>
      </div>
    </div>
    <img-await *ngIf="feedPost.instagular.media_type[carouselIndex] == 1" class="viewer-media"
      [source]="feedPost.instagular.full[carouselIndex]">
    </img-await>
    <div *ngIf="feedPost.instagular.media_type[carouselIndex] == 2" class="viewer-media">
      <video autoplay controls loop [muted]="true"
        [src]="feedPost.instagular.full[carouselIndex] | encode:true | async"></video>
    </div>
    <div *ngIf="feedPost.instagular.media_type[0] == 3" class="viewer-media">
      <div *ngIf="feedPost.video_duration < 60; then play; else block"></div>
      <ng-template #play>
        <video autoplay controls loop [muted]="true" [src]="feedPost.instagular.full[0] | encode:true | async"></video>
      </ng-template>
      <ng-template #block>
        <div class="viewer-text">
          <p>
            This video is longer than a minute, and it's not suitable to be converted and displayed by the app.
            You can still open the original video in a new tab and watch it externally.
          </p>
          <button (click)="openMedia()">WATCH IN NEW TAB</button>
        </div>
        <img-await [source]="feedPost.instagular.thumb[0]" class="viewer-image"></img-await>
      </ng-template>
    </div>
    <div class="prev-button">
      <img *ngIf="feedPost.instagular.full.length > 1 && carouselIndex > 0" (click)="carouselPrev()"
        src="/assets/images/chevron-left.svg" class="carousel">
      <img *ngIf="feedIndex.current > 0" (click)="postPrev()" src="/assets/images/chevron-d-left.svg">
    </div>
    <div class="next-button">
      <img *ngIf="feedPost.instagular.full.length > 1 && carouselIndex < feedPost.instagular.full.length - 1"
        (click)="carouselNext()" src="/assets/images/chevron-right.svg" class="carousel">
      <img *ngIf="feedIndex.current < feedIndex.total" (click)="postNext()" src="/assets/images/chevron-d-right.svg">
    </div>
    <div (click)="closeSend.emit()" class="close-button">
      <img src="/assets/images/close.svg">
    </div>
    <div *ngIf="feedPost.instagular.full.length > 1" class="viewer-count">
      <div *ngFor="let media of feedPost.instagular.full; index as i">
        <div class="count-dot" [class]="i == carouselIndex ? 'bg-blue-500' : 'bg-slate-100'"></div>
      </div>
    </div>
  </div>
</div>