<viewer-photo *ngIf="userPost" [feedPost]="userPost" (likeSend)="likeMedia($event)" (unlikeSend)="unlikeMedia($event)"
  (closeSend)="closeMedia()"></viewer-photo>
<div *ngIf="userProfile" class="sidenav-user">
  <img-await [source]="userProfile.instagram.thumb" class="sidenav-image"></img-await>
  <div>
    <div class="text-main text-[32px]">{{ userProfile.full_name }}</div>
    <div class="user-stats">
      <div class="text-sub">@{{ userProfile.username }}</div>
      <div class="text-sub">•</div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.media_count }}</div>
        <div class="text-sub">Posts</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.follower_count }}</div>
        <div class="text-sub">Followers</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.following_count }}</div>
        <div class="text-sub">Following</div>
      </div>
    </div>
    <div [innerText]="userProfile.biography" class="my-5 text-main"></div>
    <div *ngIf="userProfile.external_url" class="user-link">
      <img [src]="'/assets/images/link.svg'">
      <a [href]="userProfile.external_url" target="_blank" rel="noopener noreferrer">
        {{ userProfile.external_url }}
      </a>
    </div>
  </div>
</div>
<div class="feed-container">
  <div class="feed-grid">
    <div *ngFor="let post of userPosts" class="feed-post">
      <div class="post-container">
        <img *ngIf="post.instagram.thumb.length > 1" src="/assets/images/carousel.svg" class="post-carousel">
        <div class="post-footer">
          <img [src]="'/assets/images/' + (post.has_liked ? 'like-fill.svg' : 'like-lite.svg')"
            (click)="post.has_liked ? unlikeMedia(post.id) : likeMedia(post.id)">
        </div>
        <div (click)="openMedia(post)" class="post-gradient"></div>
      </div>
      <img-await [source]="post.instagram.thumb[0]" class="post-image"></img-await>
    </div>
  </div>
</div>