.feed-container {
  @apply ml-auto mr-auto;
}
.feed-grid {
  @apply gap-6 grid justify-center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
}
.feed-post {
  @apply h-[280px] ml-auto mr-auto overflow-hidden relative rounded-lg w-[280px];
}

.post-carousel {
  @apply absolute m-3 right-0;
}
.post-container {
  @apply absolute cursor-pointer h-full hover:opacity-100 opacity-0 w-full;
  transition: opacity 0.2s;
}
.post-footer {
  @apply absolute bottom-0 flex m-3 right-0 space-x-3 z-10;
}
.post-footer img {
  @apply h-6 w-6;
  filter: drop-shadow(0px 2px 0px black);
}
.post-gradient {
  @apply absolute h-full w-full;
  background: linear-gradient(to bottom, rgba(51, 65, 85, 0.5) -20%, transparent 20% 80%, rgba(51, 65, 85, 0.5) 120%);
}
:host ::ng-deep .post-image img {
  @apply h-full object-cover w-full;
}

.sidenav-image {
  @apply flex h-[200px] min-h-[200px] min-w-[200px] overflow-hidden rounded-full w-[200px];
}
.sidenav-user {
  @apply flex items-center mb-8 px-8 space-x-10 w-full;
}

.text-main {
  @apply cursor-default text-slate-800;
}
.text-sub {
  @apply cursor-default font-light text-slate-600;
}

.user-link {
  @apply flex items-center space-x-2;
}
.user-link a {
  @apply text-blue-800;
}
.user-link img {
  @apply h-4 w-4;
}
.user-stat {
  @apply flex items-center space-x-1;
}
.user-stats {
  @apply flex space-x-4;
}