<div *ngIf="!searchSmall" class="search">
  <dialog *ngIf="clearRecent" [title]="'SEARCH.CLEAR_RECENT.TITLE' | translate" [subtitle]="'SEARCH.CLEAR_RECENT.SUB' | translate"
    [buttonText]="'SEARCH.CLEAR' | translate" (onOk)="searchBox._clearRecent()" (onCancel)="clearRecent = false"></dialog>
  <input [(ngModel)]="selectModel" [dropdown]="searchDialog" dropdownPlace="bottom" [placeholder]="'SEARCH.SEARCH' | translate"
    (click)="searchBox.loadRecent()" (input)="searchBox._updateValue()" />
  <img src="/assets/images/search-light.svg" class="search-icon">
  <img *ngIf="selectModel" (click)="searchBox.clearValue()" src="/assets/images/close-circle.svg" class="search-clear">
  <div #searchDialog>
    <search-box (onClear)="selectModel = ''" (onClearAll)="clearRecent = !clearRecent"
      #searchBox [selectModel]="selectModel" [searchSmall]="searchSmall"></search-box>
  </div>
</div>
<div *ngIf="searchSmall" class="search-s">
  <dialog *ngIf="clearRecent" [title]="'SEARCH.CLEAR_RECENT.TITLE' | translate" [subtitle]="'SEARCH.CLEAR_RECENT.SUB' | translate"
    [buttonText]="'SEARCH.CLEAR' | translate" (onOk)="searchBox._clearRecent()" (onCancel)="clearRecent = false"></dialog>
  <button [dropdown]="searchDialog" dropdownPlace="right-start" (click)="searchBox.loadRecent()">
    <img [src]="'/assets/images/search.svg'">
  </button>
  <div #searchDialog>
    <div class="search-s-bar">
      <input dropdownIgnore [(ngModel)]="selectModel" [placeholder]="'SEARCH.SEARCH' | translate" (input)="searchBox._updateValue()" />
      <img dropdownIgnore src="/assets/images/search-light.svg" class="search-s-icon">
      <img dropdownIgnore *ngIf="selectModel" (click)="searchBox.clearValue()" src="/assets/images/close-circle.svg"
        class="search-s-clear">
    </div>
    <search-box (onClear)="selectModel = ''" (onClearAll)="clearRecent = !clearRecent"
      #searchBox [selectModel]="selectModel" [searchSmall]="searchSmall"></search-box>
  </div>
</div>