<viewer-stories *ngIf="storiesShow" [feedStories]="feedStories" [originIndex]="originIndex"
  (closeSend)="closeStories()"></viewer-stories>
<div *ngIf="feedStories.length > 0" class="stories-container">
  <div *ngFor="let story of feedStories; index as i">
    <div (click)="openStories(i)" class="stories-item"
      [ngClass]="[story.seen < story.latest_reel_media ? story.has_besties_media ? 'border-[#26cb54]' : 'border-[#e16857]' : 'border-slate-200', story.muted ? 'opacity-40' : '']">
      <img-await [source]="story.user.profile_pic_url" class="stories-profile"></img-await>
    </div>
  </div>
</div>
<div *ngIf="feedStories.length > 0" class="separator"></div>