<div class="sidenav-container">
  <div class="sidenav-logo">
    <img src="/assets/images/logo.svg">
  </div>
  <div *ngIf="userProfile" class="sidenav-user">
    <img [src]="userProfile.instagram.thumb">
    <div class="text-main">{{ userProfile.full_name }}</div>
    <div class="text-sub">@{{ userProfile.username }}</div>
    <div class="user-stats">
      <div class="user-stat">
        <div class="text-main">{{ userProfile.follower_count }}</div>
        <div class="text-sub">Followers</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.following_count }}</div>
        <div class="text-sub">Following</div>
      </div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.media_count }}</div>
        <div class="text-sub">Posts</div>
      </div>
    </div>
  </div>
</div>