.feed-container {
  @apply ml-auto mr-auto mt-6;
}
.feed-grid {
  @apply gap-6 grid justify-center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
}
.feed-post {
  @apply h-[280px] ml-auto mr-auto overflow-hidden relative rounded-lg w-[280px];
}

.post-container {
  @apply absolute cursor-pointer h-full hover:opacity-100 opacity-0 w-full;
  transition: opacity 0.2s;
}
.post-footer {
  @apply absolute bottom-0 flex m-3 right-0 space-x-3 z-10;
}
.post-footer img {
  @apply h-6 w-6;
  filter: drop-shadow(0px 2px 0px black);
}
.post-gradient {
  @apply absolute h-full w-full;
  background: linear-gradient(to bottom, rgba(51, 65, 85, 0.5) -20%, transparent 20% 80%, rgba(51, 65, 85, 0.5) 120%);
}
.post-header {
  @apply absolute flex m-3 space-x-3 z-10;
}
.post-header p {
  @apply flex items-center text-lg text-white;
  filter: drop-shadow(1px 1px 1px black);
}
:host ::ng-deep .post-image img {
  @apply h-full object-cover w-full;
}
.post-profile {
  @apply h-8 overflow-hidden rounded-full w-8;
}
.post-type {
  @apply absolute m-3 right-0 z-10;
}