<viewer-photo *ngIf="feedPost" [feedPost]="feedPost" (likeSend)="likeMedia($event)" (unlikeSend)="unlikeMedia($event)"
  (closeSend)="closeMedia()"></viewer-photo>
<div *ngIf="feedPosts" class="feed-container">
  <div class="feed-grid">
    <div *ngFor="let post of feedPosts" class="feed-post">
      <div class="post-container">
        <div *ngIf="!hideHeader" [routerLink]="['/' + post.user.username]" class="post-header">
          <img-await [source]="post.instagular.profile" class="post-profile"></img-await>
          <p>{{ post.user.username }}</p>
          <img *ngIf="post.user.is_verified" src="/assets/images/verified.svg">
        </div>
        <img *ngIf="post.instagular.thumb.length > 1" src="/assets/images/carousel.svg" class="post-carousel">
        <div class="post-footer">
          <img [src]="'/assets/images/' + (post.has_liked ? 'like-fill.svg' : 'like-lite.svg')"
            (click)="post.has_liked ? unlikeMedia(post.id) : likeMedia(post.id)">
        </div>
        <div (click)="openMedia(post)" class="post-gradient"></div>
      </div>
      <img-await [source]="post.instagular.thumb[0]" class="post-image"></img-await>
    </div>
  </div>
</div>