<viewer-posts *ngIf="feedPost" [feedPost]="feedPost" [feedIndex]="feedIndex" (onClose)="feedPost = null"
  (onNextPost)="nextPost()" (onPrevPost)="prevPost()" (onPin)="pinUpdate($event)" (onUnpin)="unpinUpdate($event)"
  (onFollow)="followUpdate($event)" (onBesties)="bestiesUpdate($event)" (onFavorite)="favoriteUpdate($event)"
  (onBlock)="blockUpdate($event)"></viewer-posts>
<div *ngIf="feedPosts" class="feed-container">
  <div class="feed-grid">
    <div *ngFor="let post of feedPosts" [hidden]="feedSaved && !post.has_viewer_saved" class="feed-post">
      <feed-post [post]="post" [hideHeader]="hideHeader" (onOpen)="openMedia(post)"></feed-post>
    </div>
  </div>
  <div infiniteScroll (onIntersect)="onIntersection()" [stopIntersect]="stopIntersect"
    [class]="hideIntersect ? 'hidden' : 'block'" class="h-px w-px"></div>
  <media-footer *ngIf="feedPosts.length > 0 && stopIntersect"></media-footer>
</div>