<dialog *ngIf="removeFollower" [title]="'PAGE_USER.REMOVE_FOLLOWER.TITLE' | translate" [subtitle]="'PAGE_USER.REMOVE_FOLLOWER.SUB' | translate: { user: userProfile.username }"
  [buttonText]="'GENERAL.REMOVE' | translate" buttonTheme="red" (onOk)="_removeFollower()" (onCancel)="removeFollower = false"></dialog>
<viewer-stories *ngIf="loadStories" [feedStories]="[userProfile.reels]" [seenStories]="userProfile.friendship.following"
  [originIndex]="0" (onClose)="loadStories = false"></viewer-stories>
<viewer-users [hidden]="!loadFollowers" feedStorage="followers" [usersTitle]="'PAGE_USER.FOLLOWERS' | translate"
  [usersList]="userFollowers" (onClose)="loadFollowers = false" (onScroll)="__loadFollowers()" (onRemove)="__removeFollower()"></viewer-users>
<viewer-users [hidden]="!loadFollowing" feedStorage="following" [usersTitle]="'PAGE_USER.FOLLOWING' | translate"
  [usersList]="userFollowing" (onClose)="loadFollowing = false" (onScroll)="__loadFollowing()"></viewer-users>
<div *ngIf="userProfile" class="user-container">
  <div (click)="openStories()" class="user-stories" [ngClass]="[userProfile.reels ? 'cursor-pointer' : 'border-none',
    userProfile.reels ? userProfile.reels.seen < userProfile.reels.latest_reel_media ? userProfile.reels.has_besties_media ? 'border-[#26cb54]' : 'border-[#e16857]' : 'border-slate-200' : '']">
    <img-await [source]="userProfile.hd_profile_pic_url_info.url"></img-await>
  </div>
  <div>
    <div class="user-header">
      <div class="flex space-x-2">
        <div class="text-main text-[32px]">{{ userProfile.full_name ? userProfile.full_name : userProfile.username }}</div>
        <img *ngIf="userProfile.is_verified" src="/assets/images/verified.svg" class="w-7">
      </div>
      <div *ngIf="userProfile.username != store.state.userName" class="contents">
        <button (click)="userProfile.friendship.following ? unfollowUser() : followUser()"
          [class]="userProfile.friendship.following ? userProfile.friendship.is_bestie ? 'bestie' : 'lite' : 'color'">
          {{ (userProfile.friendship.following ? 'PAGE_USER.FOLLOWING' : userProfile.friendship.followed_by ? 'PAGE_USER.FOLLOW_BACK' : 'PAGE_USER.FOLLOW') | translate }}
        </button>
        <div *ngIf="userProfile.friendship.followed_by" class="pl-4 user-stats">
          <div class="text-sub">•</div>
          <div class="text-sub">{{ 'PAGE_USER.FOLLOWED_BY' | translate }}</div>
        </div>
        <div [tooltip]="'VIEWER_POSTS.MORE_OPTIONS' | translate" tooltipPlace="right" class="cursor-pointer ml-4">
          <img [dropdown]="moreOptions" dropdownPlace="bottom" src="/assets/images/more.svg">
        </div>
        <div #moreOptions class="user-more">
          <span *ngIf="userProfile.friendship.following" (click)="userProfile.friendship.is_bestie ? removeBestie() : addBestie()">
            <img [src]="'/assets/images/' + (userProfile.friendship.is_bestie ? 'star-besties.svg' : 'star.svg')">
            <p>{{ 'PAGE_USER.OPTIONS.BESTIES' | translate: { action: (userProfile.friendship.is_bestie ? 'GENERAL.REMOVE_FROM' : 'GENERAL.ADD_TO') | translate } }}</p>
          </span>
          <span *ngIf="userProfile.pk != store.state.userPk && userProfile.friendship.followed_by" (click)="removeFollower = true">
            <img src="/assets/images/profile-cross.svg">
            <p>{{ 'PAGE_USER.OPTIONS.FOLLOWER_REMOVE' | translate }}</p>
          </span>
        </div>
      </div>
    </div>
    <div class="user-stats">
      <div class="text-sub">@{{ userProfile.username }}</div>
      <div class="text-sub">•</div>
      <div class="user-stat">
        <div class="text-main">{{ userProfile.media_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.TABS.POSTS' | translate }}</div>
      </div>
      <div class="cursor-pointer user-stat"
        (click)="userProfile.follower_count > 0 && (!userProfile.is_private || (userProfile.is_private && userProfile.friendship.following)) ? _loadFollowers() : null">
        <div class="text-main">{{ userProfile.follower_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.FOLLOWERS' | translate }}</div>
      </div>
      <div class="cursor-pointer user-stat"
        (click)="userProfile.following_count > 0 && (!userProfile.is_private || (userProfile.is_private && userProfile.friendship.following)) ? _loadFollowing() : null">
        <div class="text-main">{{ userProfile.following_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.FOLLOWING' | translate }}</div>
      </div>
    </div>
    <div [innerHTML]="userProfile.biography | parseUrls " class="user-bio"></div>
    <div *ngIf="userProfile.external_url" class="user-link">
      <img src="/assets/images/link.svg">
      <a [href]="userProfile.external_url" target="_blank" rel="noopener noreferrer">
        {{ userProfile.external_url }}</a>
    </div>
  </div>
</div>