<dialog *ngIf="removeFollower" [title]="'PAGE_USER.REMOVE_FOLLOWER.TITLE' | translate" [subtitle]="'PAGE_USER.REMOVE_FOLLOWER.SUB' | translate: { user: store.state.userPage.username }"
  [buttonText]="'GENERAL.REMOVE' | translate" buttonTheme="red" (onOk)="_removeFollower()" (onCancel)="removeFollower = false"></dialog>
<dialog *ngIf="blockUser" [title]="'PAGE_USER.BLOCK_USER.TITLE' | translate: { user: store.state.userPage.username }" [subtitle]="'PAGE_USER.BLOCK_USER.SUB' | translate"
  [buttonText]="'PAGE_USER.BLOCK' | translate" buttonTheme="red" (onOk)="_blockUser()" (onCancel)="blockUser = false"></dialog>
<dialog *ngIf="unblockUser" [title]="'PAGE_USER.UNBLOCK_USER.TITLE' | translate: { user: store.state.userPage.username }" [subtitle]="'PAGE_USER.UNBLOCK_USER.SUB' | translate"
  [buttonText]="'PAGE_USER.UNBLOCK' | translate" (onOk)="_unblockUser()" (onCancel)="unblockUser = false"></dialog>
<viewer-stories *ngIf="loadStories" [feedStories]="[store.state.userPage.reels]" [seenStories]="store.state.userPage.friendship.following"
  [originIndex]="0" (onClose)="loadStories = false"></viewer-stories>
<viewer-users [hidden]="!loadFollowers" feedStorage="followers" [usersTitle]="'PAGE_USER.FOLLOWERS' | translate"
  [usersList]="userFollowers" (onClose)="loadFollowers = false" (onScroll)="__loadFollowers()" (onRemove)="__removeFollower()"></viewer-users>
<viewer-users [hidden]="!loadFollowing" feedStorage="following" [usersTitle]="'PAGE_USER.FOLLOWING' | translate"
  [usersList]="userFollowing" (onClose)="loadFollowing = false" (onScroll)="__loadFollowing()"></viewer-users>
<dialog *ngIf="unfollowUser" [subtitle]="'PAGE_USER.UNFOLLOW.SUB' | translate: { user: store.state.userPage.username }"
  [buttonText]="'PAGE_USER.UNFOLLOW.TITLE' | translate" buttonTheme="red" (onOk)="_unfollowUser()" (onCancel)="unfollowUser = false">
  <div class="user-unfollow">
    <img-await [source]="store.state.userPage.hd_profile_pic_url_info.url"></img-await>
  </div>
</dialog>
<div *ngIf="store.state.userPage" class="user-container">
  <div (click)="openStories()" class="user-stories" [ngClass]="[store.state.userPage.reels ? 'cursor-pointer' : 'border-none',
    store.state.userPage.reels ? store.state.userPage.reels.seen < store.state.userPage.reels.latest_reel_media ? store.state.userPage.reels.has_besties_media ? 'border-[#26cb54]' : 'border-[#e16857]' : 'border-slate-200' : '']">
    <img-await [source]="store.state.userPage.hd_profile_pic_url_info.url"></img-await>
  </div>
  <div>
    <div class="user-header">
      <div class="flex space-x-2">
        <div class="text-main text-[32px]">{{ store.state.userPage.full_name ? store.state.userPage.full_name : store.state.userPage.username }}</div>
        <img *ngIf="store.state.userPage.is_verified" src="/assets/images/verified.svg" class="w-7">
      </div>
      <div *ngIf="store.state.userPage.username != store.state.userProfile.username" class="contents">
        <button *ngIf="!store.state.userPage.friendship.blocking" (click)="store.state.userPage.friendship.following ? unfollowUser = true : followUser()"
          [class]="store.state.userPage.friendship.following ? store.state.userPage.friendship.is_bestie ? 'bestie' : store.state.userPage.friendship.is_feed_favorite ? 'favorite' : 'lite' : 'color'">
          {{ (store.state.userPage.friendship.following ? 'PAGE_USER.FOLLOWING' : store.state.userPage.friendship.followed_by ? 'PAGE_USER.FOLLOW_BACK' : 'PAGE_USER.FOLLOW') | translate }}
        </button>
        <button *ngIf="store.state.userPage.friendship.blocking" (click)="unblockUser = true" class="color">
          {{ 'PAGE_USER.UNBLOCK' | translate }}
        </button>
        <div *ngIf="store.state.userPage.friendship.followed_by" class="pl-4 user-stats">
          <div class="text-sub">•</div>
          <div class="text-sub">{{ 'PAGE_USER.FOLLOWED_BY' | translate }}</div>
        </div>
        <div [dropdown]="moreOptions" dropdownPlace="bottom" class="cursor-pointer ml-4">
          <img [tooltip]="'VIEWER_POSTS.MORE_OPTIONS' | translate" tooltipPlace="right" src="/assets/images/more.svg">
        </div>
        <div #moreOptions class="user-more">
          <span *ngIf="store.state.userPage.friendship.following" (click)="store.state.userPage.friendship.is_bestie ? removeBestie() : addBestie()">
            <img [src]="'/assets/images/' + (store.state.userPage.friendship.is_bestie ? 'star-besties.svg' : 'star.svg')">
            <p>{{ 'PAGE_USER.OPTIONS.BESTIES' | translate: { action: (store.state.userPage.friendship.is_bestie ? 'GENERAL.REMOVE_FROM' : 'GENERAL.ADD_TO') | translate } }}</p>
          </span>
          <span *ngIf="store.state.userPage.friendship.following" (click)="store.state.userPage.friendship.is_feed_favorite ? removeFavorite() : addFavorite()">
            <img [src]="'/assets/images/' + (store.state.userPage.friendship.is_feed_favorite ? 'star-favorite.svg' : 'star.svg')">
            <p>{{ 'PAGE_USER.OPTIONS.FAVORITE' | translate: { action: (store.state.userPage.friendship.is_feed_favorite ? 'GENERAL.REMOVE_FROM' : 'GENERAL.ADD_TO') | translate } }}</p>
          </span>
          <span *ngIf="store.state.userPage.pk != store.state.userProfile.pk && store.state.userPage.friendship.followed_by" (click)="removeFollower = true">
            <img src="/assets/images/profile-cross.svg">
            <p>{{ 'PAGE_USER.OPTIONS.FOLLOWER_REMOVE' | translate }}</p>
          </span>
          <span *ngIf="store.state.userPage.pk != store.state.userProfile.pk" (click)="store.state.userPage.friendship.blocking ? unblockUser = true : blockUser = true">
            <img [src]="'/assets/images/' + (store.state.userPage.friendship.blocking ? 'block-alt.svg' : 'block.svg')">
            <p>{{ 'PAGE_USER.OPTIONS.BLOCK' | translate: { action: (store.state.userPage.friendship.blocking ? 'PAGE_USER.UNBLOCK' : 'PAGE_USER.BLOCK') | translate, user: store.state.userPage.username } }}</p>
          </span>
        </div>
      </div>
    </div>
    <div class="user-stats">
      <div class="text-sub">@{{ store.state.userPage.username }}</div>
      <div class="text-sub">•</div>
      <div class="user-stat">
        <div class="text-main">{{ store.state.userPage.media_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.TABS.POSTS' | translate }}</div>
      </div>
      <div class="cursor-pointer user-stat"
        (click)="store.state.userPage.follower_count > 0 && (!store.state.userPage.is_private || (store.state.userPage.is_private && store.state.userPage.friendship.following)) ? _loadFollowers() : null">
        <div class="text-main">{{ store.state.userPage.follower_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.FOLLOWERS' | translate }}</div>
      </div>
      <div class="cursor-pointer user-stat"
        (click)="store.state.userPage.following_count > 0 && (!store.state.userPage.is_private || (store.state.userPage.is_private && store.state.userPage.friendship.following)) ? _loadFollowing() : null">
        <div class="text-main">{{ store.state.userPage.following_count | shortNumber }}</div>
        <div class="text-sub">{{ 'PAGE_USER.FOLLOWING' | translate }}</div>
      </div>
    </div>
    <div [innerHTML]="store.state.userPage.biography | parseUrls " class="user-bio"></div>
    <div *ngIf="store.state.userPage.external_url" class="user-link">
      <img src="/assets/images/link.svg">
      <a [href]="store.state.userPage.external_url" target="_blank" rel="noopener noreferrer">
        {{ store.state.userPage.external_url }}</a>
    </div>
  </div>
</div>